body {
	height: 100vh;
	background-image: url(background.png);
	display: flex;
	justify-content: center;
	align-content: center;
}

#judul{
	font-size: 3em;
	width: 150px;
	text-align: center;
	justify-content: center;
	color: white;
	margin-top: 40px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#pop{
	color: white;
	font-size: 5em;
	font-family: Nunito, sans-serif;
}

#score {
	font-size: 4em;
	font-family: Nunito, sans-serif;
	color: white;
	margin-bottom: -6%;
}

#kasumi {
	
}

#btn {
	width: 150px;
	height: 70px;
	font-size: 2em;
	letter-spacing: 3px;
	border: 0px solid #E0D0C6;
	background-color: transparent;
	color: pink;
	margin-top: 40px;
	user-select: none;
	border-radius: 0px;
}
#btn:focus {
	outline: none;
}
#btn:active {
	border: 0px;
	color: transparent;
}
@media only screen and (max-width: 480px) {
	#kasumi {
		width: 200px
	}
}